mat-toolbar {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    position: fixed;
    top: 0;
    z-index: 2;

    span {
        width: 25%;
    }

    input {
        width: 60%;
        padding: 8px;
        font-size: 1.6rem;
        color: #fff;
        background: rgba(255,255,255,.15);
        border: none;
        outline: none;
    }

    input:focus {
        outline: 1px solid rgba(255, 255, 255, .5);
    }

    input::placeholder {
        color: #fff;
    }
}