<div class="card">
    <div class="header">
        <div class="header-left">
            <h2>{{ case.title }}</h2>
            <p class="tags">{{ case.tags && case.tags.length ? case.tags.join(', ') : 'No tags' }}</p>
        </div>
        <div class="header-right">
            <div class="category">{{ case.category }}</div>
            <div>{{ case.date | date:'short' }}</div>
        </div>
    </div>
    <ul class="symptoms">
        <li *ngFor="let symptom of case.symptoms">{{ symptom }}</li>      
    </ul>
</div>