<form [formGroup]="articleDetailForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput type="text" formControlName="author" placeholder="Author">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" formControlName="category" placeholder="Category">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" formControlName="title" placeholder="Article Title">
    </mat-form-field>
    <div formArrayName="symptoms">
        <button mat-raised-button (click)="addSymptom()">Add Symptom</button>
        <div *ngFor="let symptom of symptoms.controls; let i=index">
            <mat-form-field>
                <input matInput type="text" [formControlName]="i" placeholder="New Symptom">
            </mat-form-field>
        </div>
    </div>
    <div formArrayName="tags">
        <button mat-raised-button (click)="addTag()">Add Tag</button>
        <div *ngFor="let tag of tags.controls; let i=index">
            <mat-form-field>
                <input matInput type="text" [formControlName]="i" placeholder="New Tag">
            </mat-form-field>
        </div>
    </div>
    <mat-form-field>
        <input matInput type="text" formControlName="fixDescription" placeholder="Fix fixDescription">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" formControlName="fixSteps" placeholder="Fix Steps">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" formControlName="diagnosisSteps" placeholder="Diagnosis Steps">
    </mat-form-field>
    <div formArrayName="ticketURLs">
        <button mat-raised-button (click)="addSymptom()">Add URL</button>
        <div *ngFor="let ticketURL of ticketURLs.controls; let i=index">
            <mat-form-field>
                <input matInput type="text" [formControlName]="i" placeholder="New Ticket URL">
            </mat-form-field>
        </div>
    </div>
</form>

<button mat-raised-button type="submit" [disabled]="!articleDetailForm.valid">Submit</button>

<button mat-raised-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
</button>

