.columns {
    display: flex;
    padding: 10px 16px;
}

.columns > .left-column {
    width: 25%;
}

.columns > .right-column {
    width: 60%;
}

ig-case-symptom-list {
    margin: 10px 0;
    display: block;
}